*{
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

.form{
    padding: 10px;
}

.title {
    background-color: #2f3944;
    font: 600;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
}
.sign-up {
    font: 700;
    color: #2f3944;
    text-align: center;
    padding-top: 15px;
    margin: 0px;
}
text{
    font: 300;
    color: #2f3944;
    text-align: center;
}
.zipcode{
    max-width: 50% !important;
}

:focus:focus {
    outline: 2px solid darkblue;
 }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 15px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 25px;
  width: 100%;
  background-color: #eff0f1;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: opacity 1s ease-in-out;
}
option[value="choose-state"]{
    text-align: left;
    color: #b1b1b1 !important;
    font-style: italic !important;
}

::placeholder{
    text-align: right;
    color: #b1b1b1;
    font-style: italic;
}

textarea{
   height: 150px;
}

h2{
    margin: .5em;
    padding: 1px;
    font-size: 20px;
}
hr{
    border-top: 8px double #333;
    color: #333;
    overflow: visible;
}
.line{
    padding-left: 10px;
    padding-right: 10px;
}
label {
    font-weight: 300;
    color: #98a0a8;
    margin: 0;
    line-height: 40px;
}

p {
    font-size: 18px;
    color:#98a0a8;
    line-height: 25px;
    margin: 0px;
    padding-bottom: 10px;
    font-weight: 300;
}
legend {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #2f3944;
}
.newsletter{
    padding-top: 15px;
    font-weight: 300;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 6px 8px 0;
}
fieldset{
 border: 0;
}
label{
    border: 0;
}

button {
    background-color: #6cb8b4;
    border: none;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
  }
  footer{
      padding-top: 20px;
      padding-bottom: 10px;
      text-align: center;
  }


@media (min-width: 768px) {
    .form {
        max-width: 700px;
        margin: 0 auto;
      }
    .tag input,
    .tag select {
     flex: 0 0 75%;
     margin-bottom: 0;
    }
    .tag {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
     }
     label{
        text-align: left;
        flex: 0 0 130px;
     }
     .zipcode{
        max-width: 25% !important;
    }

}